<a href="/{{ name }}/" class="card h-100 d-block text-dark">
    <div class="card-body">
        <h3 class="card-title text-capitalize h5 text-nowrap">{{ name }}</h3>
        <p class="card-text">{{ description }}</p>
    </div>
</a>