$integration: false;

$project: app;

$url-img: is-integration-route('/img', $integration);
$url-fonts: is-integration-route('/fonts', $integration);

$local-font: false;
$font-size-basic: 16;
$open-sans-google-font: 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i';

$font-regular: OpenSans;
$font-semibold: OpenSansSemibold;
$font-bold: OpenSansBold;

$font-icons: 'app-icons';
$url-icons: '#{$url-fonts}/#{$font-icons}/#{$font-icons}';

$font-weight-semibold: 600;

$fast: .15s;
$medium: .3s;
$slow: .5s;

$circle: 50%;

$font-family-base: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
