//========================================
// Custom variables
//========================================

// Project name abbreviation for components
$project: app;

// Routes
$url-img: '/../assets/img';
$url-fonts: '/../assets/fonts';

// Transition
$fast: .15s;
$medium: .3s;
$slow: .5s;

// Fonts
$font-size-basic: 16;

//========================================
// Override variables
//========================================