{{#> base }}
    {{#> sp-main titlePage="Index" }}
        {{#each pages}}
            <div class="col-12 col-md-4 mb-3">
                {{> sp-card }}
            </div>
        {{/each}}
    {{/sp-main}}
{{/ base }}


